name: Run Tests

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build docker image
        run: docker build -t playwright-tests .

      - name: Run tests (create allure-results folder on host)
        run: |
         docker run --rm -v ${PWD}/allure-results:/app/allure-results playwright-tests ls -la /app/allure-results
      - name: Debug Allure results directory
        run: ls -la allure-results

      - name: Debug Docker container logs
        run: docker logs $(docker ps -lq)
      - name: Generate Allure report
        run: |
         allure generate allure-results -o allure-report

      - name: Upload Allure results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results

      - name: Upload Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report